// code cua quang
// end code cua quang

// code cua bao
.bao 
	height 1700px
	// background blue
	// bao1
	a 
		&:hover 
			text-decoration none
	.bao1
		height 700px
		float left
		// background #999
		margin-top 50px
		z-index 1
		ul
			width: 100%
			// background #444
			border 1px solid #ccc
			li
				a 
					color #999
					border-radius 0
					border-right 1px solid #ccc
					padding 0 10px
					&:hover 
						background #888
						color black
					i 
						border-right 1px solid #ccc
						padding 10px
		.bao1-1
			float left
			height 650px
			// background #999
			text-align center
			img 
				width 100%
				height 450px
				box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
			.bao1-11
				position absolute
				top -3.6%
				left 5%
				width 90%
				height 450px
				opacity 0
				transition 0.5s
				&:hover 
					opacity 1
			p
				margin-bottom 5px
			.checked
				color orange 
			.fa-star
				&:hover 
					color orange 
			h3
				color red
				padding-top 5px
				font-family "times new roman"
				width 100%
				border-bottom 1px solid #888
			.bao1-12
									
				p 
					
					padding 10px 15px
					margin-top 15px
					color black
					transition 0.5s
					&:hover 
						color orange
				.p1 
					position absolute
					top -16px
					left 14.8px
					background #ccc
					border-radius 25px
					z-index 1010
					&:hover 
						opacity 0
				span 
					float left
					padding 13px 55px 
					background orange
					color black
					border-radius 25px
					transition 0.5s
					z-index 1000
					&:hover 
						box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)	
						
		.a1
			width: 1px
			.prev 
				background white
				position absolute
				top 0.084%
				left 1262px
				width 36px
				height 36px
				i 
					font-size 37px
					color black
				&:hover 
					background #999
			.next
				background white
				position absolute
				top 0.084%
				right 15px
				width 36px
				height 36px
				border-left 1px solid #333
				i 
					font-size 37px
					color black
				&:hover 
					background #999
	// End bao1
	// bao2
	.bao2
		height 300px
		float left 
		// background #999
		.bao2-1
			height 290px
			background #888
			background-image url('photo/bao12.jpeg')
			background-attachment fixed
			background-repeat no-repeat
			background-size 100% 100%
			.bao2-2
				top 0
				left 0
				width: 100%
				height 100%
				background rgba(0, 0, 0, .0)
				text-align left 
				transition 0.5s
				h1
					padding-left 20%
					padding-top 5%
					color black 
					text-shadow 2px 0 4px #fff
					transition 0.5s
				p 
					color black
					padding-left 20%
					text-shadow 2px 0 4px #fff
					transition 0.5s
				&:hover 
					background rgba(0, 0, 0, .5)
					h1 
						color white 
					p 
						color white
	// End bao2
	// bao3
	.bao3 
		height 700px
		float left 
		// background #888
		.bao3-1
			height 700px
			float left 
			// background #666
			ul 
				padding-bottom 15px
				border-bottom 1px solid #999
			.bao1-1
				float left
				height 650px
				// background #999
				text-align center
				img 
					width 100%
					height 450px
					box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
				.bao1-11
					position absolute
					top -3.6%
					left 5%
					width 90%
					height 450px
					opacity 0
					transition 0.5s
					&:hover 
						opacity 1
				p
					margin-bottom 5px
				.checked
					color orange 
				.fa-star
					&:hover 
						color orange 
				h3
					color red
					padding-top 5px
					font-family "times new roman"
					width 100%
					border-bottom 1px solid #888
				.bao1-12
									
					p 
						
						padding 10px 15px
						margin-top 15px
						color black
						transition 0.5s
						&:hover 
							color orange
					.p1 
						position absolute
						top -16px
						left 14.8px
						background #ccc
						border-radius 25px
						z-index 1010
						&:hover 
							opacity 0
					span 
						float left
						padding 13px 55px 
						background orange
						color black
						border-radius 25px
						transition 0.5s
						z-index 1000
						&:hover 
							box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
			.a1
				width: 1px
				.prev 
					background white
					position absolute
					top 0.084%
					left 587px
					width 36px
					height 36px
					i 
						font-size 37px
						color black
					&:hover 
						background #999
				.next
					background white
					position absolute
					top 0.084%
					right 15px
					width 36px
					height 36px
					border-left 1px solid #333
					i 
						font-size 37px
						color black
					&:hover 
						background #999
	// End bao3


// responsive ipad
@media screen and (max-width 1024px)
	.bao 
		.bao1 
			.bao1-1
				.bao1-12
					p
						display none
					.p1
						display block
						position absolute
						left 45px
					span 
						margin-left 30px
			.a1
				.prev 
					position absolute
					left 935px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						p
							display none
						.p1
							display block
							position absolute
							left 45px
						span 
							margin-left 30px
				.a1
					.prev 
						position absolute
						left 425px
			.bao3-2 
				.bao1-1
					.bao1-12
						p
							display none
						.p1 
							display block
						span 
							margin-left 30px
				.a1
					.prev 
						position absolute
						left 425px
		
// responsive ipad
@media screen and (max-width 768px)
	.bao 
		.bao1 
			.bao1-1
				.bao1-12
					.p1
						display none
					span 
						margin-left 10px
			.a1
				.prev 
					position absolute
					left 680px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						.p1
							display none
						span 
							margin-left 10px
				.a1
					.prev 
						position absolute
						left 295px
			.bao3-2 
				.bao1-1
					.bao1-12
						.p1
							display none
						span 
							margin-left 10px
				.a1
					.prev 
						position absolute
						left 295px

//responsive nexus 7
@media screen and (max-width 600px)
	.bao 
		.bao1 
			.bao1-1
				.bao1-12
					.p1
						display none
					span 
						margin-left 80px
			.a1
				.prev 
					position absolute
					left 515px
		.bao2
			display none
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						.p1
							display none
						span 
							margin-left 80px
				.a1
					.prev 
						position absolute
						left 515px

// responsive mobile-plus
@media screen and (max-width 480px)
	.bao 
		.bao1 
			.bao1-1
				.bao1-12
					.p1
						display none
					span 
						margin-left 40px
			.a1
				.prev 
					position absolute
					left 395px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						.p1
							display none
						span 
							margin-left 40px
				.a1
					.prev 
						position absolute
						left 395px
					

//responsive mobile 
@media screen and (max-width 414px)
	.bao 
		.bao1 
			ul 
				border none
				li 
					a 
						font-size 10px
						i 
							padding 2px
			.bao1-1
				.bao1-12
					p
						display none
					.p1
						display none
					span 
						margin-left 100px
			.a1
				.prev 
					position absolute
					left 358px
					width 20px
					height 20px
					i 
						font-size 20px
				.next 
					width 20px
					height 20px
					i 
						font-size 20px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						p
							display none
						.p1
							display none
						span 
							margin-left 100px
				.a1
					.prev 
						position absolute
						left 330px
						
//responsive pixel 2 xl
@media screen and (max-width 411px)
	.bao 
		.bao1 
			ul 
				border none
				li 
					a 
						font-size 10px
						i 
							padding 2px
			.bao1-1
				.bao1-12
					.p1
						display none
					span 
						margin-left 95px
			.a1
				.prev 
					position absolute
					left 355px
					width 20px
					height 20px
					i 
						font-size 20px
				.next 
					width 20px
					height 20px
					i 
						font-size 20px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						p
							display none
						.p1
							display none
						span 
							margin-left 95px
				.a1
					.prev 
						position absolute
						left 323px

//iphone x
@media screen and (max-width 375px)
	.bao 
		.bao1 
			ul 
				border none
				li 
					a 
						font-size 10px
						i 
							padding 2px
			.bao1-1
				.bao1-12
					.p1
						display none
					span 
						margin-left 80px
			.a1
				.prev 
					position absolute
					left 320px
					width 20px
					height 20px
					i 
						font-size 20px
				.next 
					width 20px
					height 20px
					i 
						font-size 20px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						p
							display none
						.p1
							display none
						span 
							margin-left 80px
				.a1
					.prev 
						position absolute
						left 288px

//responsive galaxy s5
@media screen and (max-width 360px)
	.bao 
		.bao1 
			ul 
				border none
				li 
					a 
						font-size 10px
						i 
							padding 2px
			.bao1-1
				.bao1-12
					.p1
						display none
					span 
						margin-left 70px
			.a1
				.prev 
					position absolute
					left 305px
					width 20px
					height 20px
					i 
						font-size 20px
				.next 
					width 20px
					height 20px
					i 
						font-size 20px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						p
							display none
						.p1
							display none
						span 
							margin-left 70px
				.a1
					.prev 
						position absolute
						left 273px
//responsive mobile 
@media screen and (max-width 320px)
	.bao 
		.bao1 
			ul 
				border none
				li 
					a 
						font-size 10px
						i 
							padding 2px
			.bao1-1
				.bao1-12
					.p1
						display none
					span 
						margin-left 50px
			.a1
				.prev 
					position absolute
					left 265px
					width 20px
					height 20px
					i 
						font-size 20px
				.next 
					width 20px
					height 20px
					i 
						font-size 20px
		.bao3
			.bao3-1 
				.bao1-1
					.bao1-12
						p
							display none
						.p1
							display none
						span 
							margin-left 50px
				.a1
					.prev 
						position absolute
						left 235px
// end code cua bao

// code cua dieu
// end code cua dieu

// code cua phat
// end code cua phat