// code cua quang
//Go han
.gohan
	width 100%
	height 30px
	@media screen and (max-width: 768px)
		width: 768px
		display none
	a.gohan1 
		text-decoration none
		color black
		margin-left 5%
		p 
			font-size 10px
			line-height 29px
			font-family generic-family
			font-style italic
			&:hover
				color red
	li.gohan2 
		text-decoration none
		list-style-type none
		font-size 10px
		margin-left 1%
		line-height 14px
		a
			text-decoration none
			color black
			font-family generic-family
			font-style italic
	p.gohan3
		margin-left 80%
		a
			margin-left 5%
			margin-top: 1%
			color black
			font-family generic-family
			font-style italic
			&:hover
				color red
	hr 
		margin-top -1%
		width 92%
		background black		
//Ket thuc gohan
//Tabema
.tabema
	width: 100%
	height 150px
	@media screen and (max-width: 768px)
		width: 100%
	hr 
		width: 90%
		background: black
		margin-top: -1.1%
	.container-fluid
		.row
			width: 100%
			height 150px
			.col-4
				@media screen and (max-width: 414px)
						display none
				.input-group
					margin-top: 8%
					margin-left: 15%
					input 
						width: 60%
						height 55px
						border none
						background: #f3f3f3		
					.input-group-append
						button 
							margin-top: 0px
							height 55px
							border-left: none
							border-radius: 0 3px 3px 0
							background: #f3f3f3
			.col-sm-4
				img
					margin-left: 30%
					margin-top: 8%
			.col-md-4
				@media screen and (max-width: 414px)
						display none
				padding-left: 15%
				margin-top: 3%
				a
					text-decoration none
					p.tabema1
						float: left
						width: 60px
						height 60px
						background #f3f3f3
						border-radius 50%
						i
							margin-top: 16px
							margin-left: 10px
							color black
					p.tabema2
						float left
						margin-top: 19px
						margin-left: 5px
						font-weight: 600
						color black
						@media screen and (max-width: 768px)
							display none
					&:hover p.tabema1
						background: red
						i 
							color white			 
//Ket thuc Tabema
// Ichi
.ichi
	margin-top: 1px
	width: 100%
	height 62px
	background-color:rgba(255,255,255,0.9)
	@media screen and (max-width: 768px)
		width: 100%
	.navbar
		@media screen and (max-width: 768px)
			width: 100%
		.collapse
			margin-top: -0.7%
			ul.navbar-nav
				padding-left: 20%
				@media screen and (max-width: 1024px)
					padding-left: 12%
				p 
					width: 1px 
					height 40px
					background gray
					margin 10px 1px 0 1px
				li.box1q1
					height 60px
					width: 120px
					transition 2s
					&:hover
						background: black
					&:hover .dropdown a 
						color white
					.dropdown:hover .dropdown-menu
						display: block
					.dropdown .dropdown-toggle:active
						pointer-events: none
					.dropdown
						a 
							padding-top: 18px
							color black
						.dropdown-menu
							margin-top: 6%
							width: 300px
							height: auto
							border-radius: none
							.input-group
								a 
									margin-top: -5%
									color black				
// Ket thuc Ichi
// Computa
.computa 
	width: 100%
	height 500px
	background: gray
	@media screen and (max-width: 768px)
		width: 768px
	@media screen and (max-width: 414px)
		width: 414px
		height 300px
	.carousel
		@media screen and (max-width: 414px)
			height 300px
		ol 
			li
				width: 10px
		.carousel-inner
			.carousel-item
				@media screen and (max-width: 414px)
					height 300px
				img
					width: 100%
					height 500px
					@media screen and (max-width: 414px)
						width: 100%
						height  300px
				.card-img-overlay
					a
						text-decoration none
						color white
						h1.hesam1
							margin-top: 10%
							transition 2s
							&:hover
								font-size: 60px
								color #b22af1
							@media screen and (max-width: 414px)
								display none	
						h1.hesam2
							width: 40%
							margin-left: 30%
							font-weight: bold
							border 2px solid white
							transition 0.1s
							&:hover
								border 2px solid red
							@media screen and (max-width: 414px)
								width: 80%
								margin-left: 10%
					button 
						width: 10%
						margin-left: 45%
						font-weight: bold
						background: white
						transition: 2s
						@media screen and (max-width: 1024px)
							width: 20%
							margin-left: 40%
						@media screen and (max-width: 414px)
							width: 30%
							margin-left: 35%
							display none
						&:hover
							background: #3d3333
							color white
//Ket thuc Computa
// kohi
.kohi
	width: 100%
	height:700px
	margin-top: 1%
	margin-bottom: 3%
	@media screen and (max-width: 1024px)
		width: 90%
	@media screen and (max-width: 768px)
		width: 768px
	@media screen and (max-width: 414px)
		display none
	.container
		@media screen and (max-width: 1024px)
			padding-left: 6%
		@media screen and (max-width: 768px)
			padding-left: 25%
		a
			display: inline-block
			-webkit-transition:all .4s ease-in-out;
			transition:all .4s ease-in-out
			&:hover img
				-ms-transform:scale(1.2)
				-webkit-transform:scale(1.2)
				transform:scale(1.2)
			&:hover .kohi1
				background: #737373
				h2,h5,button
					color white
				hr 
					background: white
			.hovereffect
				width:95%
				height:350px
				overflow:hidden
				background-color:rgba(0,0,0,0.5)
				-webkit-transition:all .4s ease-in-out
				transition:all .4s ease-in-out
				@media screen and (max-width: 1024px)
					width: 80%
				&:hover img 
					-ms-transform:scale(1.2)
					-webkit-transform:scale(1.2)
					transform:scale(1.2)
			.hovereffect img 
				display:block;
				position:relative;
				-webkit-transition:all .4s linear
				transition:all .4s linear
			.kohi1
				float left
				width: 95%
				height 350px
				@media screen and (max-width: 1024px)
					width: 80%
				&:hover
					background: #737373
					h2,h5,button
						color white
					hr 
						background: white
				h2
					margin-top: 30%
					color black
					font-weight: bold
				hr
					width: 20%
					background: black
				h5
					color black
				button 
					margin-top: 3%
					width: 40%
					margin-left: 30%
					background: none
					color black
					border 2px solid black
					font-weight: bold
					&:hover
						background: black
						color white
						border 2px solid white
//Ket thuc kohi
// end code cua quang

// code cua bao
// end code cua bao

// code cua dieu
// end code cua dieu

// code cua phat
// end code cua phat